{% extends 'shop/basic.html' %}
{% block body %}
<div class="container">
        <div class="col my-4">
        <div class="table-responsive">
        <table class="table" id="printableTable">
            <thead>
                <tr></tr>
            </thead>
            <tbody>
                <tr>
                    <td style="font-weight: bolder;">ID</td>
                    <td>{{reponse.ORDERID}}</td>
                </tr>
                <tr>
                    <td style="font-weight: bolder;">Amount (in {{response.CURRENCY}})</td>
                    <td>₹ {{response.TXNAMOUNT}}</td>
                </tr>
                <tr>
                    <td style="font-weight: bolder;">PAYMENT MODE</td>
                    <td>{{response.PAYMENTMODE}}</td>
                </tr>
                <tr>
                    <td style="font-weight: bolder;">TRANSACTION DATE</td>
                    <td>{{response.TXNDATE}}</td>
                </tr>
                <tr>
                    <td style="font-weight: bolder;">TRANSACTION STATUS</td>
                    <td>Items in Cart Successfully ordered</td>
                </tr>
                <tr>
                    <td style="font-weight: bolder;">BANK NAME</td>
                    <td>{{response.BANKNAME}}</td>
                </tr>
            </tbody>
        </table>
        </div>
        
        </div>
{% endblock %}
