{% extends 'shop/basic.html' %}
{% block title%}Payment | VSCart{% endblock %}
{% block body %}
<div class="container">
	{{response}}
		<div class="col my-4">
		<h2>Payment status regarding your order Id {{response.ORDERID}}</h2>
		{% if response.RESPCODE == '01' %}
		<div class="table-responsive" id="printableTable">
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">     <!-- a linking of bootstrap css to give design to table report -->
		<table class="table">
			<thead>
				<tr></tr>
			</thead>
			<tbody>
				<tr>
					<td style="font-weight: bolder;">ID</td>
					<td>{{response.ORDERID}}</td>
				</tr>
				<tr>
					<td style="font-weight: bolder;">Amount (in {{response.CURRENCY}})</td>
					<td>₹ {{response.TXNAMOUNT}}</td>
				</tr>
				<tr>
					<td style="font-weight: bolder;">PAYMENT MODE</td>
					<td>{{response.PAYMENTMODE}}</td>
				</tr>
				<tr>
					<td style="font-weight: bolder;">TRANSACTION DATE</td>
					<td>{{response.TXNDATE}}</td>
				</tr>
				<tr>
					<td style="font-weight: bolder;">TRANSACTION STATUS</td>
					<td>Items in Cart Successfully ordered</td>
				</tr>
				<tr>
					<td style="font-weight: bolder;">BANK NAME</td>
					<td>{{response.BANKNAME}}</td>
				</tr>
			</tbody>
		</table>
		</div>

		<div class="alert alert-success" role="alert"><span><strong>Thanks for ordering with us. Your order is {{response.ORDERID}}. Use it to track your order using our order tracker</strong></span></div>

		<button class="btn btn-warning Button Button--outline" onclick="printReport()">Print</button> <!-- Print Button -->

		{% else %}
		<div class="alert alert-danger" role="alert"><span><strong>{{response.RESPMSG}}</strong></span></div>
		{% endif%}

		{% block js %}
		<script>
			localStorage.clear();      /* to clear cart */

			/* Creating a FUNCTION to PRINT the REPORT */

			function printReport() {
				var divToPrint = document.getElementById('printableTable');
				newWin = window.open("", "", "width=900,height=1000");
				// newWin.document.write("<body bgcolor='#000'></body>" + divToPrint.outerHTML);
				newWin.document.write(divToPrint.outerHTML);
				newWin.document.write("<style>body{display:none;}</style>");
				newWin.print();
				newWin.close();
		   }

		</script>
		{% endblock %}

		
		<button class="btn btn-danger" onclick="document.location = '/shop';"><span><i class="fas fa-door-open"></i></span>Goto Home</button>   <!-- back home button -->


		<!-- Jugaad -->
		</div>
{% endblock %}
